//*  #Main Sass
@import "../../../scss/main-style.scss";

/*  #Theme Shape Image Baloon
===========================================*/

img.baloon {
    -webkit-mask-box-image: url("./shape/baloon.svg");
    -mask-border: url("./shape/baloon.svg");
}
/*  #Theme Shape Image Pig
===========================================*/

img.pig {
    -webkit-mask-box-image: url("./shape/pig.svg");
    -mask-border: url("./shape/pig.svg");
}
/*  #Theme Shape Image Play
===========================================*/

img.play {
    -webkit-mask-box-image: url("./shape/play.svg");
    -mask-border: url("./shape/play.svg");
}
/*  #Theme Shape Image Rewind
===========================================*/

img.rewind {
    -webkit-mask-box-image: url("./shape/rewind.svg");
    -mask-border: url("./shape/rewind.svg");
}
/*  #Theme Shape Image Soundcloud
===========================================*/

img.soundcloud {
    -webkit-mask-box-image: url("./shape/soundcloud.svg");
    -mask-border: url("./shape/soundcloud.svg");
}
/*  #Theme Shape Image Speaker
===========================================*/

img.speaker {
    -webkit-mask-box-image: url("./shape/speaker.svg");
    -mask-border: url("./shape/speaker.svg");
}
/*  #Theme Shape Image Bag
===========================================*/

img.bag {
    -webkit-mask-box-image: url("./shape/bag.svg");
    -mask-border: url("./shape/bag.svg");
}
/*  #Theme Shape Image Basket
===========================================*/

img.basket {
    -webkit-mask-box-image: url("./shape/basket.svg");
    -mask-border: url("./shape/basket.svg");
}
/*  #Theme Shape Image Cart
===========================================*/

img.cart {
    -webkit-mask-box-image: url("./shape/cart.svg");
    -mask-border: url("./shape/cart.svg");
}
/*  #Theme Shape Image Cupshop
===========================================*/

img.cupshop {
    -webkit-mask-box-image: url("./shape/cupshop.svg");
    -mask-border: url("./shape/cupshop.svg");
}
/*  #Theme Shape Image Dollar
===========================================*/

img.dollar {
    -webkit-mask-box-image: url("./shape/dollar.svg");
    -mask-border: url("./shape/dollar.svg");
}
/*  #Theme Shape Image Heksagonal
===========================================*/

img.heksagonal {
    -webkit-mask-box-image: url("./shape/heksagonal.svg");
    -mask-border: url("./shape/heksagonal.svg");
}
/*  #Theme Shape Image Camera
===========================================*/

img.camera {
    -webkit-mask-box-image: url("./shape/camera.svg");
    -mask-border: url("./shape/camera.svg");
}
/*  #Theme Shape Image Heart
===========================================*/

img.heart {
    -webkit-mask-box-image: url("./shape/heart.svg");
    -mask-border: url("./shape/heart.svg");
}
/*  #Theme Shape Image Like
===========================================*/

img.like {
    -webkit-mask-box-image: url("./shape/like.svg");
    -mask-border: url("./shape/like.svg");
}
/*  #Theme Shape Image Shit
===========================================*/

img.shit {
    -webkit-mask-box-image: url("./shape/shit.svg");
    -mask-border: url("./shape/shit.svg");
}
/*  #Theme Shape Image Speach_cloud
===========================================*/

img.speach_cloud {
    -webkit-mask-box-image: url("./shape/speach_cloud.svg");
    -mask-border: url("./shape/speach_cloud.svg");
}
/*  #Theme Shape Image Star
===========================================*/

img.star {
    -webkit-mask-box-image: url("./shape/star.svg");
    -mask-border: url("./shape/star.svg");
}
/*  #Theme Shape Image Cloud
===========================================*/

img.cloud {
    -webkit-mask-box-image: url("./shape/cloud.svg");
    -mask-border: url("./shape/cloud.svg");
}
/*  #Theme Shape Image Cup
===========================================*/

img.cup {
    -webkit-mask-box-image: url("./shape/cup.svg");
    -mask-border: url("./shape/cup.svg");
}
/*  #Theme Shape Image House
===========================================*/

img.house {
    -webkit-mask-box-image: url("./shape/house.svg");
    -mask-border: url("./shape/house.svg");
}
/*  #Theme Shape Image Pin
===========================================*/

img.pin {
    -webkit-mask-box-image: url("./shape/pin.svg");
    -mask-border: url("./shape/pin.svg");
}
/*  #Theme Shape Image Suitcase
===========================================*/

img.suitcase {
    -webkit-mask-box-image: url("./shape/suitcase.svg");
    -mask-border: url("./shape/suitcase.svg");
}
/*  #Theme Shape Image Truck
===========================================*/

img.truck {
    -webkit-mask-box-image: url("./shape/truck.svg");
    -mask-border: url("./shape/truck.svg");
}
/*  #Theme Shape Image Hexagonal_1
===========================================*/

img.hexagonal_1 {
    -webkit-mask-box-image: url("./shape/hexagonal_1.svg");
    -mask-border: url("./shape/hexagonal_1.svg");
}
/*  #Theme Shape Image Hexagonal_2
===========================================*/

img.hexagonal_2 {
    -webkit-mask-box-image: url("./shape/hexagonal_2.svg");
    -mask-border: url("./shape/hexagonal_2.svg");
}
/*  #Theme Shape Image Round
===========================================*/

img.round {
    -webkit-mask-box-image: url("./shape/round.svg");
    -mask-border: url("./shape/round.svg");
}
/*  #Theme Shape Image Square_rounded
===========================================*/

img.square_rounded {
    -webkit-mask-box-image: url("./shape/square_rounded.svg");
    -mask-border: url("./shape/square_rounded.svg");
}
/*  #Theme Shape Image Square_rounded_2
===========================================*/

img.square_rounded_2 {
    -webkit-mask-box-image: url("./shape/square_rounded_2.svg");
    -mask-border: url("./shape/square_rounded_2.svg");
}
/*  #Theme Shape Image Square_rounded_diagonal
================================================*/

img.square_rounded_diagonal {
    -webkit-mask-box-image: url("./shape/square_rounded_diagonal.svg");
    -mask-border: url("./shape/square_rounded_diagonal.svg");
}
/*  #Theme Shape Image Trapez_down
================================================*/

img.trapez_down {
    -webkit-mask-box-image: url("./shape/trapez_down.svg");
    -mask-border: url("./shape/trapez_down.svg");
}
/*  #Theme Shape Image Trapez_right
================================================*/

img.trapez_right {
    -webkit-mask-box-image: url("./shape/trapez_right.svg");
    -mask-border: url("./shape/trapez_right.svg");
}
