/*  # Theme With 2 funcional icon
===========================================*/
.item-bcg {
  background-color: #fefefe !important;
  border-color: #f4f5f5 !important;
  transition: all 0 ease-out; }
  .item-bcg h2.item-title {
    color: #9d9d9d;
    font-size: 14px;
    line-height: 20px; }
  .item-bcg .button-flat {
    color: #6d6e71 !important;
    font-size: 14px;
    padding-right: 0; }
  .item-bcg .icon-small {
    color: #692c90 !important;
    font-size: 18px !important; }
  .item-bcg input[type="checkbox"].filled-in:checked + label:after {
    border: 2px solid #692c90;
    background-color: #692c90; }
  .item-bcg input[type="checkbox"].filled-in:not(:checked) + label:after {
    border: 2px solid #692c90 !important; }
  .item-bcg input[type="checkbox"].filled-in:checked + label:before {
    border-right: 2px solid white;
    border-bottom: 2px solid white; }
  .item-bcg input[type="checkbox"] + label {
    margin-top: 10px; }
