/*  # Theme Simple
===========================================*/
.hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 201px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); }
  .hero::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: multiply;
    background-color: rgba(66, 66, 66, 0.6); }
  .hero h2.header-subtitle {
    color: white;
    font-size: 14px;
    position: absolute;
    bottom: 5px; }

/*  # Menu List Content
===========================================*/
.menu-left-list {
  top: 200px;
  color: #616262;
  line-height: normal;
  font-size: 16px !important; }
  .menu-left-list .item-bcg {
    background-color: #fefefe !important;
    border-color: #f4f5f5 !important;
    transition: all 0 ease-out; }
  .menu-left-list h2.item-title {
    color: #9d9d9d;
    font-size: 14px;
    line-height: normal; }
  .menu-left-list .icon-small {
    color: #692c90 !important;
    font-size: 18px !important; }
