/*  #Theme Login + logo
================================================*/
img {
  margin: 0 auto;
  display: block;
  clear: both;
  max-width: 100px; }

.button-flat {
  margin: 10px;
  color: #6d6e71 !important;
  font-size: 14px; }

.form-block {
  margin: 0 25px;
  overflow: hidden;
  /* Style Social Network
  ===========================================*/ }
  .form-block .form-input {
    overflow: hidden; }
  .form-block .button-default {
    margin-left: 10px;
    background-color: #853a96 !important;
    color: #fefefe !important;
    font-size: 14px;
    font-weight: normal;
    border-radius: 4px; }
  .form-block .social {
    margin: 40px auto 0;
    overflow: hidden; }
    .form-block .social p {
      color: #692c90;
      font-size: 16px; }
    .form-block .social .button-social {
      font-size: 16px;
      color: #fff;
      border-radius: 4px;
      padding: 7px 10px;
      width: 49%;
      text-align: center;
      float: left;
      display: block;
      margin-right: 5px;
      margin-bottom: 5px; }
    .form-block .social > .button-social:nth-child(3) {
      margin-right: 0; }
    .form-block .social > .button-social:nth-child(5) {
      margin-right: 0; }

.input-field {
  margin-bottom: 25px; }
  .input-field input {
    font-size: 14px;
    color: #9d9d9d;
    border-bottom: 1px solid #692c90 !important;
    font-weight: 300; }
    .input-field input:focus:not([readonly]) {
      color: #9d9d9d;
      box-shadow: none; }
    .input-field input + label {
      color: #9d9d9d;
      font-size: 14px;
      left: 0;
      top: 11px; }
      .input-field input + label.active {
        color: rgba(157, 157, 157, 0.6) !important;
        font-size: 10px; }
  .input-field .icon-small {
    color: #692c90 !important;
    font-size: 18px !important;
    text-align: center;
    left: 5px;
    top: 15px; }
