//*  #Main Sass
@import "../../../../../../scss/main-style.scss";
/* # Theme Login + logo 4
===========================================*/
img {
  margin: 0 auto 20px;
  display: block;
  max-width: 90px;
}
/*  Content
===========================================*/
.input-field {
  width: 95%;

  input {
    @include input-item( 'input');
  }

  .icon-small {
    @include icon( 'icon-small');
    left: 5px;
    top: 15px;
  }
}
/*  Content
===========================================*/
.button-flat {
  margin-top: 10px;
  @include button( 'button-flat');
}

.form-block {
  padding-top: 20px;
  margin: 0 25px;

  .form-input {
    background: theme-colors('mainColors', 'secondary');
    @include input-item( 'form-block');
    overflow: hidden;
    border-radius: $border-radius;
    box-shadow: $box-shadow-z2;

    .button-flat {
      @include button( 'button-flat');
      font-size: 16px;
      margin: 15px 7px;
    }
  }
}
/* Style Social Network
===========================================*/
.social {
  margin: 40px auto 0;
  overflow: hidden;

  p {
    color: theme-colors('textColors', 'primary');
    font-size: 16px;
  }

  .button-social {
    font-size: 16px;
    color: #fff;
    border-radius: $border-radius;
    padding: 7px 10px;
    width: 49%;
    text-align: center;
    float: left;
    display: block;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  & > .button-social:nth-child(3) {
    margin-right: 0;
  }

  & > .button-social:nth-child(5) {
    margin-right: 0;
  }
}
