/*  # Theme Register + logo
======================================================*/
.register-form {
  padding-top: 30px;
  margin: 0 25px; }

img {
  max-width: 45px;
  margin: 0 15px; }

.button-flat {
  color: #6d6e71 !important;
  font-size: 14px; }

.form-input {
  overflow: hidden; }

.form-block {
  background-color: rgba(254, 254, 254, 0.6) !important;
  padding: 10px 25px;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 15px 0;
  margin-bottom: 25px; }
  .form-block h1.title {
    font-size: 22px;
    color: #6d6e71;
    text-align: right;
    text-transform: uppercase;
    margin: 0 10px; }

.input-field {
  width: 95%;
  margin: 10px auto 25px auto; }
  .input-field input {
    font-size: 14px;
    color: #9d9d9d;
    border-bottom: 1px solid #692c90 !important;
    font-weight: 300;
    width: calc(100% - 4rem) !important; }
    .input-field input:focus:not([readonly]) {
      color: #9d9d9d;
      box-shadow: none; }
    .input-field input + label {
      color: #9d9d9d;
      font-size: 14px;
      left: 0;
      top: 11px; }
      .input-field input + label.active {
        color: rgba(157, 157, 157, 0.6) !important;
        font-size: 10px; }
  .input-field .icon-small {
    color: #692c90 !important;
    font-size: 18px !important;
    left: 5px;
    top: 15px; }
