//  #Main Sass
@import "../../../../../scss/main-style.scss";
/*  #Theme Parallax Location Details
===========================================*/
.container-hearder-image {
  height: 250px;
  @include background-size;
  @include darkening-blend-mode;
  z-index: 999;
  position: relative;
  box-shadow: $box-shadow-z2;
}

.text-view-bcg {
  @include text-view( 'text-view-bcg');
  margin: 0;
  overflow: visible;

  .socila {
    @include social;
  }

  .text-rate {
    padding: 0 25px;
  }

  .item-content {
    &.item-text-wrap {
      padding: 10px 0;
      border-top: $item-divider-small;
      margin: 5px 30px;

      .text-view-body {
        @include text-view( 'text-view-body');
        margin-bottom: 0;
      }

      .info-text {
        margin-bottom: 10px;
      }

      .info-text > p:first-child {
        font-weight: bold;
        float: left;
        margin-right: 5px;
      }
    }
  }

  .text-top {
    padding: 10px;

    .text-view-title {
      @include text-view( 'text-view-title');
      padding-left: 25px;
    }
  }

  .text-rate {
    .icon-small {
      @include icon( 'icon-small');
    }

    .rate-star {
      display: block;
      float: left;
      margin-right: 10px;

      .icon-small {
        color: theme-colors('textColors', 'secondary') !important;
        font-size: icon-size('icon-small') !important;
        width: 30px;
        display: block;
        float: left;
      }
    }

    .span-small {
      color: theme-colors('textColors', 'secondary');
      font-size: font-size-text('h5');
    }
  }
}
