// #Main Sass
@import "../../../../../scss/main-style.scss";
/* # Theme Simple
===========================================*/
.search-bar-bcg {
  @include search('search-bar-bcg');
  height: auto;
  background-size: 100% 0;
  padding: 0;

  input {
    @include search('[type="search"]');
    margin-bottom: 6px;
    margin-top: 6px;
    height: 25px;
  }

  .item-input {
    .icon-small{
       @include icon('icon-small');
       min-width: 40px;
       text-align: center;
     }
   }
 }

.list-content {
    .list {
      margin-top: 20px;
    }
    .item-bcg{
        @include item('item-bcg');
    }
    .icon-small {
      @include icon('icon-small');
    }
    h2.item-title {
      @include item('item-title');
    }
    h3.item-subtitle {
      @include item('item-subtitle');
  }
}
