//*  #Main Sass
@import "../../../../../../scss/main-style.scss";
/*  Theme Full image with CTA
===========================================*/
.collapsible {
  box-shadow: none;
  margin: 10px;
  border: none;

  .collapsible-header {
    position: relative;
    border-bottom: 0;
    padding: 0;
    margin-bottom: 10px;
    border-radius: $border-radius;

    .container-background {
      @include darkening-blend-mode;
      height: 10em;
      border-radius: $border-radius;
      display: table;
      width: 100%;

      .half {
        display: table-cell;
        vertical-align: bottom;
        padding: 0 10px;
        z-index: 9999;
        position: relative;
      }
    }

    h2.item-title {
      color: theme-colors('textColors', 'accent') !important;
      font-size: font-size-text('h4');
      padding: 10px;
    }

    .button-default {
      @include button( 'button-default');
      margin-bottom: 10px;
    }
  }

  .collapsible-body {
    margin-top: 5px !important;

    ion-item {
      border: none;
      padding: 0;
    }
    .button-default {
      @include button( 'button-default');
      padding: 10px;
      margin-bottom: 5px;
      border-color: transparent;
      width: 100%;
    text-align: left;
    font-weight: 100;
    }

    .icon-small {
      font-size: icon-size('icon-small');
      color: theme-colors('mainColors', 'accent');
    }
  }
}
