<!--Theme SearchBar Light-->
<ion-header-bar class="bar bar-subheader search-bar-bcg">
  <div class="item-input">
    <i class="icon-small icon ion-search"></i>
    <input type="search" placeholder="Search" data-ng-model="searchController.searchValue" />
    <i class="icon-small icon ion-mic-a"
    ng-click="searchController.onClick('onRecord', null, $event)"></i>
    <i class="icon-small icon ion-close"
    ng-click="searchController.clearText()"></i>
  </div>
</ion-header-bar>
<ion-content>
  <ion-list class="list-content">
    <ion-item class="item item-bcg item-icon-left"
     ng-repeat="item in searchController.searchData" >
      <i class="icon-small icon icon-account-check"></i>
      <h2 class="item-title">{{item.title}}</h2>
      <h3 class="item-subtitle">{{item.description}}</h3>
    </ion-item>
  </ion-list>
</ion-content>
