/*  Theme Login + logo 3
===========================================*/
img {
  display: block;
  float: left;
  margin-left: 20px;
  max-width: 50px; }

.button-flat {
  color: #6d6e71 !important;
  font-size: 14px; }

.form-block {
  padding-top: 70px;
  margin: 0 25px; }

.input-field input {
  font-size: 14px;
  color: #9d9d9d;
  border-bottom: 1px solid #692c90 !important;
  font-weight: 300; }
  .input-field input:focus:not([readonly]) {
    color: #9d9d9d;
    box-shadow: none; }
  .input-field input + label {
    color: #9d9d9d;
    font-size: 14px;
    left: 0;
    top: 11px; }
    .input-field input + label.active {
      color: rgba(157, 157, 157, 0.6) !important;
      font-size: 10px; }

/* Style Social Network
===========================================*/
.form-input {
  overflow: hidden; }

.social {
  margin: 40px auto 0;
  overflow: hidden; }
  .social p {
    color: #692c90;
    font-size: 16px; }
  .social .button-social {
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    padding: 7px 10px;
    width: 49%;
    text-align: center;
    float: left;
    display: block;
    margin-right: 5px;
    margin-bottom: 5px; }
  .social > .button-social:nth-child(3) {
    margin-right: 0; }
  .social > .button-social:nth-child(5) {
    margin-right: 0; }

.logo-block {
  overflow: hidden;
  padding-top: 50px; }
