/*  #Theme Parallax Basic
===========================================*/
.container-hearder-image {
  height: 250px;
  position: relative;
  z-index: 9999;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); }
  .container-hearder-image::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: multiply;
    background-color: rgba(66, 66, 66, 0.6); }
  .container-hearder-image h1.parallax-title {
    color: white;
    font-size: 22px !important;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    text-align: center;
    width: 100%; }
  .container-hearder-image .avatar {
    border-radius: 50%;
    height: 64px;
    width: 64px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px;
    margin-top: -32px; }

.item-bcg {
  background-color: #fefefe !important;
  border-color: #f4f5f5 !important;
  transition: all 0 ease-out;
  padding-top: 25px; }
  .item-bcg .item-title {
    color: #9d9d9d;
    font-size: 14px; }
  .item-bcg .item-subtitle {
    color: rgba(157, 157, 157, 0.6);
    font-size: 14px; }
  .item-bcg .icon-small {
    color: #692c90 !important;
    font-size: 18px !important; }
