/*  # Theme Medium item with avatar
===========================================*/
.item-bcg {
  background-color: #fefefe !important;
  border-color: #f4f5f5 !important;
  transition: all 0 ease-out; }
  .item-bcg .item-content {
    padding-left: 100px;
    min-height: 84px;
    padding-top: 20px;
    background-color: transparent; }
    .item-bcg .item-content .item-title {
      color: #9d9d9d;
      font-size: 14px; }
    .item-bcg .item-content .item-subtitle {
      color: rgba(157, 157, 157, 0.6);
      font-size: 14px; }
  .item-bcg img {
    max-width: 64px !important;
    max-height: 64px !important;
    top: 10px !important; }

/*  #Reorder Button Style
==========================================*/
.item-right-edit {
  background-color: transparent; }
  .item-right-edit.visible.active {
    background-color: transparent !important; }
  .item-right-edit.item-reorder {
    padding: 0; }
    .item-right-edit.item-reorder .button.icon {
      font-size: 24px !important;
      color: #692c90 !important;
      right: 0; }
