/*  #Theme Appearance animation (Alpha)
================================================*/
.item.item-bcg {
  background-color: #fefefe !important;
  border-color: #f4f5f5 !important;
  transition: all 0 ease-out; }

.item h2.item-title {
  color: #9d9d9d;
  font-size: 14px;
  line-height: 35px; }

.item .icon-small {
  color: #692c90 !important;
  font-size: 18px !important; }

/*  #Theme Appearance animation (Alpha) fadeIn
================================================*/
.chat-item.ng-enter {
  -webkit-animation: fadeIn 500ms;
  -moz-animation: fadeIn 500ms;
  -o-animation: fadeIn 500ms;
  animation: fadeIn 500ms; }

.chat-item.ng-enter-stagger {
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms; }
