//*  #Main Sass
@import "../../../../../scss/main-style.scss";
/*  #Thema General
===========================================*/
.logo-down {
  max-width: 100px;
  position: relative;
  -webkit-animation: zoomIn 5s;
  /* Safari 4+ */
  -moz-animation: zoomIn 5s;
  /* Fx 5+ */
  -o-animation: zoomIn 5s;
  /* Opera 12+ */
  animation: zoomIn 5s;
  /* IE 10+, Fx 29+ */
  margin-top: 50% !important;
  left: 50%;
}
