// # Main Sass
@import "../../../../../scss/main-style.scss";
/*  # Theme Two columns
===========================================*/
.item-bcg {
  @include item('item-bcg');
    &.item {
      padding: 5px 15px;
      display: block;
      float: left;
      width: 50%;

    h2.item-title {
      @include item('item-title');
      line-height: 18px;
    }
    input[type="checkbox"] {
      padding-top: 10px;
      @include checkbox-item('input[type="checkbox"]');
    }
  }
  & > .item:nth-child(2n) {
    margin-right: 0;
  }
}
