<!--Theme Register + image-->
<ion-content class="has-header">
  <!--Register + imagep Form-->
  <div class="form-block">
    <!--Register + image Logo-->
    <img ng-src="{{registerController.data.logo}}" />
    <div class="form-input">
      <div class="input-field">
        <i class="icon-small icon prefix {{registerController.data.iconAccount}}"></i>
        <input id="username" type="text" ng-model="registerController.username">
        <label for="username">{{registerController.data.username}}</label>
      </div>
      <div class="input-field">
        <i class="icon-small icon prefix {{registerController.data.iconAccountMultiple}}"></i>
        <input id="password" type="password" ng-model="registerController.password">
        <label for="password">{{registerController.data.password}}</label>
      </div>
      <div class="input-field">
        <i class="icon-small icon prefix {{registerController.data.iconHome}}"></i>
        <input id="addres" type="text" ng-model="registerController.email">
        <label for="addres">{{registerController.data.address}}</label>
      </div>
      <div class="input-field">
        <i class="icon-small icon prefix {{registerController.data.iconCity}}"></i>
        <input id="city" type="text" ng-model="registerController.city">
        <label for="city">{{registerController.data.city}}</label>
      </div>
      <div class="input-field">
        <i class="icon-small icon prefix {{registerController.data.iconWeb}}"></i>
        <input id="state" type="text" ng-model="registerController.country">
        <label for="state">{{registerController.data.state}}</label>
      </div>
      <button class="button-default waves-effect waves-light btn-flat disabled right"
      ng-click="registerController.onClick('onRegister')">
                {{registerController.data.button}}
            </button>
    </div>
  </div>
</ion-content>
