//*  #Main Sass
@import "../../../../../scss/main-style.scss";
/*  #Thema General
===========================================*/
.logo-down {
  max-width: 100px;
  position: relative;
  margin-top: 40% !important;
  left: 50%;
  -webkit-animation: fadeInDown 5s;
  /* Safari 4+ */
  -moz-animation: fadeInDown 5s;
  /* Fx 5+ */
  -o-animation: fadeInDown 5s;
  /* Opera 12+ */
  animation: fadeInDown 5s;
  /* IE 10+, Fx 29+ */
}


.item-fade-in h2 {
  position: relative;
  color: theme-colors('textColors', 'primary') !important;
  font-size: font-size-text('h1');
  margin-top: 10px;
  text-align: center;
  animation: zoomIn 5s;
  -webkit-animation: zoomIn 5s;
}
