/*  # Theme Simple + big icons
===========================================*/
.slidertext {
  display: table-cell;
  vertical-align: middle;
  padding: 0 30px;
  opacity: 0.5; }
  .slidertext i.icon {
    color: rgba(105, 44, 144, 0.6);
    font-size: 180px; }

.button-flat, .skip {
  color: #6d6e71 !important;
  font-size: 14px;
  position: absolute;
  bottom: 5px;
  margin: 0 10px;
  padding: 10px;
  display: block; }

.skip {
  right: 0; }

.slider-pager {
  bottom: 26px;
  height: 20px;
  border-top: 1px solid #692c90;
  padding-top: 10px; }

h1.wizard-title {
  color: #692c90;
  font-size: 18px !important;
  margin-bottom: 15px; }

p.wizard-body-text {
  color: rgba(105, 44, 144, 0.6);
  font-size: 14px !important; }

.slider {
  height: 100%; }

.slider-slide {
  display: table; }

.ion-record:before {
  color: #692c90;
  font-size: 7px; }

.scroll {
  height: 100%;
  min-height: 100%; }
