/*  # Login + logo 2
================================================*/
img {
  margin: 20px auto 0;
  display: block;
  max-width: 120px; }

.input-field input {
  font-size: 14px;
  color: #9d9d9d;
  border-bottom: 1px solid #692c90 !important;
  font-weight: 300; }
  .input-field input:focus:not([readonly]) {
    color: #9d9d9d;
    box-shadow: none; }
  .input-field input + label {
    color: #9d9d9d;
    font-size: 14px;
    left: 0;
    top: 11px; }
    .input-field input + label.active {
      color: rgba(157, 157, 157, 0.6) !important;
      font-size: 10px; }

.form-block {
  padding-top: 20px;
  margin: 0 25px; }
  .form-block p {
    color: #6d6e71;
    font-size: 16px; }

.form-input {
  background: #bdbcbc;
  background-color: rgba(254, 254, 254, 0.6) !important;
  padding: 10px 25px;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); }

/*  Content
===========================================*/
button.button-flat {
  color: #6d6e71 !important;
  font-size: 14px;
  width: 32%;
  padding: 0; }

.social {
  margin: 0 auto 40px;
  overflow: hidden; }
  .social .button-social {
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    padding: 7px 10px;
    width: 49%;
    text-align: center;
    float: left;
    display: block;
    margin-right: 5px;
    margin-bottom: 5px; }
  .social > .button-social:nth-child(3) {
    margin-right: 0; }
  .social > .button-social:nth-child(5) {
    margin-right: 0; }
