/*  #Text Roboto Regular
===========================================*/
.components {
  padding: 10px 20px; }
  .components div {
    margin-bottom: 10px; }
  .components .block-components > .block-insert:last-child span {
    padding-left: 15px; }
  .components span {
    display: block;
    clear: both;
    margin-bottom: 10px; }
  .components .block-insert {
    display: block;
    float: left;
    margin-right: 50px; }
  .components .block-badge {
    float: left;
    margin-right: 30px; }
  .components .title-components {
    color: #bdbcbc;
    font-size: 16px;
    font-weight: normal;
    clear: both;
    display: block;
    margin: 15px 0;
    text-transform: uppercase;
    border-bottom: 1px solid #bdbcbc; }
  .components .example-h1 {
    font-size: 22px;
    color: #692c90; }
  .components .example-h2 {
    font-size: 20px;
    color: #692c90; }
  .components .example-h3 {
    font-size: 18px;
    color: #692c90; }
  .components .example-h4 {
    font-size: 14px;
    color: #692c90; }
  .components .example-h5 {
    font-size: 12px;
    color: #692c90; }
  .components .example-h6 {
    font-size: 10px;
    color: #692c90; }
  .components .example-p {
    font-size: 14px;
    color: #692c90; }
  .components .span-small {
    color: #692c90;
    font-size: 12px; }
  .components .span-medium {
    color: #692c90;
    font-size: 22px;
    line-height: normal; }
  .components .span-large {
    color: #692c90;
    font-size: 22px;
    line-height: normal; }
  .components .block-components {
    margin-bottom: 10px;
    overflow: hidden; }
  .components .button-default {
    background-color: #853a96 !important;
    color: #fefefe !important;
    font-size: 14px;
    font-weight: normal;
    border-radius: 4px;
    padding: 10px 15px; }
  .components .button-flat {
    color: #6d6e71 !important;
    font-size: 14px;
    padding: 10px 15px; }
  .components .badge-small {
    background-color: #853a96 !important;
    color: white;
    border-radius: 4px;
    padding: 3px 6px;
    font-size: 14px; }
  .components .badge-medium {
    background-color: #853a96 !important;
    color: white;
    border-radius: 4px;
    padding: 5px 8px;
    font-size: 18px; }
  .components .badge-large {
    background-color: #853a96 !important;
    color: white;
    border-radius: 4px;
    padding: 7px 10px;
    font-size: 22px; }
  .components .icon-small {
    color: #692c90 !important;
    font-size: 18px !important; }
  .components .icon-medium {
    color: #692c90 !important;
    font-size: 24px !important; }
  .components .icon-large {
    color: #692c90 !important;
    font-size: 60px !important; }
