<!-- Left Account header-->
<ion-side-menus enable-menu-with-back-views="false">
  <!-- Left menu -->
  <ion-side-menu side="left">
    <div class="hero center">
      <img ng-src="{{leftMenuController.data.image}}">
      <h1 class="header-title text-center">{{leftMenuController.data.title}}</h1>
      <h2 class="header-subtitle text-center">{{leftMenuController.data.description}}</h2>
    </div>
    <ion-content class="has-header-media">
      <ion-list>
        <ion-item class="item-bcg item-icon-left waves-effect waves-light waves-block"
        ng-repeat="item in leftMenuController.data.items"
        ng-click="leftMenuController.clickEvent(item.pagePath)">
          <i class="icon-small icon {{item.icon}}"></i>
          <h2 class="item-title">{{item.title}}</h2>
        </ion-item>
        <ion-list>
    </ion-content>
  </ion-side-menu>

  <ion-side-menu-content class="left-menu-background">
    <ion-nav-bar class="bar-stable red">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-back-button class="button-flat">
        <i class="ion-arrow-left-c"></i>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-flat ion-navicon"
          ng-click="leftMenuController.toggleLeft()" menu-toggle="left">
        </button>
        <span class="title title-center header-item">Home</span>
      </ion-nav-buttons>
    </ion-nav-bar>
    <div ng-include="leftMenuController.templateUrl"></div>
  </ion-side-menu-content>
</ion-side-menus>
