<!-- Theme With filtering check boxes -->
<ion-content class="has-header" scroll="false">
  <div class="search-bcg">
    <!-- Search With filtering check boxes Title -->
    <h1 class="search-title">Search by</h1>
    <!-- Search Media Check Boxes -->
    <checkbox theme="searchController.theme" data="searchController.data.items"></checkbox>

    <!-- With filtering check boxes Search Input -->
    <div class="item-input search-bar-bcg">
      <i class="icon-small icon ion-search"></i>
      <input type="search" placeholder="Search"
      data-ng-model="searchController.searchValue" />
      <i class="icon-small icon ion-mic-a"
      ng-click="searchController.onClick('onRecord', null, $event)"></i>
      <i class="icon-small icon ion-close"
      ng-click="searchController.clearText()"></i>
    </div>
    <!-- With filtering check boxes Search Button-->
    <a class="button-flat btn-flat waves-effect waves-light right">search</a>
  </div>
</ion-content>
