/*  # Theme With filtering check boxes
================================================*/
.search-bcg {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 4px;
  overflow: hidden; }
  .search-bcg h1.search-title {
    color: #692c90;
    font-size: 18px !important; }
  .search-bcg .icon-small {
    color: #692c90 !important;
    font-size: 18px !important;
    width: 40px;
    text-align: center; }
  .search-bcg .button-flat {
    margin-top: 10px;
    color: #692c90 !important;
    font-size: 18px; }
  .search-bcg .search-bar-bcg {
    background-color: #853a96;
    border-color: transparent;
    border-radius: 4px;
    margin-top: 20px;
    padding-left: 0; }
    .search-bcg .search-bar-bcg input {
      font-size: 14px;
      color: white;
      border-bottom: 1px solid white !important;
      margin: 5px 0; }
      .search-bcg .search-bar-bcg input::-webkit-input-placeholder {
        font-size: 14px;
        color: white; }
      .search-bcg .search-bar-bcg input:focus:not([readonly]) {
        color: white;
        font-size: 14px;
        box-shadow: none; }
