// # Main Sass
@import "../../../../../scss/main-style.scss";
/*  # Theme With avatar
===========================================*/
.item-bcg {
    @include item( 'item-bcg');
    border: $item-divider-small;

  h2.item-title {
      @include item( 'item-title');
      padding-right: 45px;
      line-height: 36px;
  }

  input[type="checkbox"] {
    @include checkbox-item('input[type="checkbox"]');

    &+label {
      margin: 10px 0 0;
      position: absolute;
      right: 0;
      top: 15px;
    }
  }
}
