/* # Theme Field + header 2
===========================================*/
.container-hearder-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 155px !important;
  padding: 0; }
  .container-hearder-image::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: multiply;
    background-color: rgba(66, 66, 66, 0.6); }
  .container-hearder-image .item-input {
    border-color: transparent;
    border-radius: 4px;
    padding: 0;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px; }
    .container-hearder-image .item-input i.icon:first-child {
      border-right: 1px solid white; }
  .container-hearder-image input {
    font-size: 14px;
    color: white;
    border-bottom: 1px solid white !important;
    padding-left: 10px;
    padding-right: 0; }
    .container-hearder-image input::-webkit-input-placeholder {
      font-size: 14px;
      color: white; }
    .container-hearder-image input:focus:not([readonly]) {
      color: white;
      font-size: 14px;
      box-shadow: none; }
    .container-hearder-image input[type="search"] {
      border-bottom: none !important; }
  .container-hearder-image .search-bar-bcg {
    background-color: #853a96; }
  .container-hearder-image .icon-small {
    color: #692c90 !important;
    font-size: 18px !important;
    width: 40px;
    text-align: center; }

.list-content {
  top: 212px !important; }
  .list-content .item-bcg {
    background-color: #fefefe !important;
    border-color: #f4f5f5 !important;
    transition: all 0 ease-out;
    padding-right: 90px; }
  .list-content h2.item-title {
    color: #9d9d9d;
    font-size: 14px; }
  .list-content h3.item-subtitle {
    color: rgba(157, 157, 157, 0.6);
    font-size: 14px;
    padding-top: 15px; }
  .list-content .icon-small {
    color: #692c90 !important;
    font-size: 18px !important; }
  .list-content .span-medium {
    color: #692c90;
    font-size: 22px;
    position: absolute;
    right: 20px;
    bottom: 25px; }
  .list-content a i.icon:nth-child(1) {
    top: -15px; }
  .list-content a i.icon:nth-child(2) {
    top: 15px; }

/*  #Ios Style
===========================================*/
.platform-ios .list-content {
  top: 220px !important; }
