<?xml version='1.0' encoding='utf-8'?>
<widget id="com.stech.ticketalert" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>My Turn</name>
    <description>
        An Ionic Framework and Cordova project.
    </description>
    <author email="amjad@stech.compk" href="http://stech.com.pk/">
      Ali Amjad
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SplashScreenDelay" value="0" />
    <preference name="FadeSplashScreenDuration" value="0" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <platform name="android">
        <icon density="ldpi" src="www/img/android-images/mipmap-ldpi/ic_launcher.png" />
        <icon density="mdpi" src="www/img/android-images/mipmap-mdpi/ic_launcher.png" />
        <icon density="hdpi" src="www/img/android-images/mipmap-hdpi/ic_launcher.png" />
        <icon density="xhdpi" src="www/img/android-images/mipmap-xhdpi/ic_launcher.png" />
        <icon density="xxhdpi" src="www/img/android-images/mipmap-xxhdpi/ic_launcher.png" />
        <icon density="xxxhdpi" src="www/img/android-images/mipmap-xxxhdpi/ic_launcher.png" />
    </platform>
    <platform name="ios">
        <icon height="180" src="www/img/ios-images/AppIcon.appiconset/Icon-App-60x60@3x.png" width="180" />
        <icon height="60" src="www/img/ios-images/AppIcon.appiconset/Icon-App-60x60@2x.png" width="60" />
        <icon height="120" src="www/img/ios-images/AppIcon.appiconset/Icon-App-60x60@2x.png" width="120" />
        <icon height="76" src="www/img/ios-images/AppIcon.appiconset/Icon-App-76x76@2x.png" width="76" />
        <icon height="152" src="www/img/ios-images/AppIcon.appiconset/Icon-App-76x76@2x.png" width="152" />
        <icon height="40" src="www/img/ios-images/AppIcon.appiconset/Icon-App-40x40@2x.png" width="40" />
        <icon height="80" src="www/img/ios-images/AppIcon.appiconset/Icon-App-40x40@2x.png" width="80" />
        <icon height="57" src="www/img/ios-images/AppIcon.appiconset/ItunesArtwork@2x.png" width="57" />
        <icon height="114" src="www/img/ios-images/AppIcon.appiconset/ItunesArtwork@2x.png" width="114" />
        <icon height="72" src="www/img/ios-images/AppIcon.appiconset/Icon-App-72x72@2x.png" width="72" />
        <icon height="144" src="www/img/ios-images/AppIcon.appiconset/Icon-App-72x72@2x.png" width="144" />
        <icon height="167" src="www/img/ios-images/AppIcon.appiconset/Icon-App-72x72@2x.png" width="167" />
        <icon height="29" src="www/img/ios-images/AppIcon.appiconset/Icon-Small-50x50@1x.png" width="29" />
        <icon height="58" src="www/img/ios-images/AppIcon.appiconset/Icon-Small-50x50@2x.png" width="58" />
        <icon height="50" src="www/img/ios-images/AppIcon.appiconset/Icon-Small-50x50@1x.png" width="50" />
        <icon height="100" src="www/img/ios-images/AppIcon.appiconset/Icon-Small-50x50@1x.png" width="100" />
        <icon height="167" src="www/img/ios-images/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png" width="167" />
    </platform>
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <allow-navigation href="localhost:8100" />
    <allow-navigation href="http://192.168.1.29:8100" />
    <engine name="android" spec="^6.2.3" />
    <plugin name="phonegap-plugin-push" spec="^1.10.5">
        <variable name="SENDER_ID" value="647987604288" />
    </plugin>
    <plugin name="de.appplant.cordova.plugin.local-notification" spec="^0.8.5" />
    <plugin name="cordova-plugin-background-mode" spec="^0.7.2" />
    <plugin name="cordova-plugin-x-toast" spec="^2.6.0" />
    <allow-navigation href="http://192.168.1.11:8100" />
    <allow-navigation href="http://192.168.128.2:8100" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
</widget>
