/*  # Theme Profile header
===========================================*/
.hero {
  background-color: #853a96;
  overflow: hidden;
  height: 180px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); }
  .hero h1.header-title {
    color: white;
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 0; }
  .hero h2.header-subtitle {
    color: white;
    font-size: 14px;
    margin-top: 0; }
  .hero .icon-small {
    color: white;
    font-size: 18px !important; }
  .hero p {
    color: white;
    font-size: 14px !important; }
  .hero img {
    max-width: 64px !important;
    max-height: 64px !important; }
  .hero .half {
    width: 50%;
    padding: 5px 0;
    float: left; }
  .hero .item-icon-left {
    padding-left: 45px;
    border-color: transparent; }
  .hero .item-avatar {
    padding-left: 90px; }

/*  # Menu Content
===========================================*/
.menu-left-list {
  top: 180px; }
  .menu-left-list .item-bcg {
    background-color: #fefefe !important;
    border-color: #f4f5f5 !important;
    transition: all 0 ease-out; }
  .menu-left-list h2.item-title {
    color: #9d9d9d;
    font-size: 14px; }
  .menu-left-list h3.item-subtitle {
    color: rgba(157, 157, 157, 0.6);
    font-size: 14px; }
  .menu-left-list .icon-small {
    color: #692c90 !important;
    font-size: 18px !important; }
  .menu-left-list span.badge-small {
    background-color: #853a96 !important;
    color: white;
    border-radius: 4px;
    padding: 3px 6px;
    font-size: 14px;
    top: 25px;
    right: 20px;
    min-width: auto !important;
    font-weight: normal; }
