<!--Themes Simple -->
<ion-list ng-show="{{checkboxController.data.length}}">
  <ion-item ng-repeat="item in checkboxController.data" class="item-bcg waves-effect waves-block waves-light">
    <button class="btn-flat left" ng-click="checkboxController.onClick('onButton', item)">
      <i class="icon-small icon {{item.icon}}"></i>
    </button>
    <h2 class="item-title left">{{item.title}}</h2>
    <input type="checkbox" class="filled-in" id="filled-in-box-{{$index}}"
    ng-click="checkboxController.onClick('onChange', item)" checked="checked" />
    <label class="right" for="filled-in-box-{{$index}}"></label>
  </ion-item>
  <ion-list>
