// # Main Sass
@import "../../../../../scss/main-style.scss";
/*  # Theme Simple
================================================*/
.item-bcg {
  background-color: theme-colors('textColors', 'accent');
  h2.item-title {
    @include item('item-title');
    padding-left: 10px;
    line-height: 34px;
  }
  &.item {
    padding: 5px 15px 5px 25px;
    margin: 10px 5px;
    border-color: transparent;
    border-radius: $border-radius;

  }
  .icon-small {
    @include icon('icon-small');
  }
  .btn-flat {
    padding: 0;
  }
  input[type="checkbox"] {
    @include checkbox-item('input[type="checkbox"]');
    &+label {
      margin-top: 8px;
    }
  }
}
