/*  #Theme Products + CTA footer
===========================================*/
.slider {
  height: auto;
  border-bottom: 1px solid #f4f5f5; }

.swipe-list .list {
  padding-bottom: 125px; }

.swipe-list .item-bcg {
  background-color: #fefefe !important;
  border-color: #f4f5f5 !important;
  transition: all 0 ease-out;
  padding-right: 80px;
  min-height: 82px; }
  .swipe-list .item-bcg img {
    top: 0 !important;
    left: 0 !important; }
  .swipe-list .item-bcg h2.item-title {
    color: #9d9d9d;
    font-size: 14px; }
  .swipe-list .item-bcg h3.item-subtitle {
    color: rgba(157, 157, 157, 0.6);
    font-size: 14px;
    margin: 0; }

.swipe-list .new-price {
  position: absolute;
  right: 5px;
  top: 40px; }
  .swipe-list .new-price.span-medium {
    color: #692c90;
    font-size: 22px; }

.swipe-list .old-price {
  font-weight: 400;
  top: 20px;
  position: absolute;
  right: 5px;
  text-decoration: line-through; }
  .swipe-list .old-price.span-small {
    color: rgba(157, 157, 157, 0.6);
    font-size: 12px; }

.swipe-list .swiped-item-bcg {
  background-color: #fefefe !important;
  width: 100%;
  display: table;
  height: 80px; }
  .swipe-list .swiped-item-bcg i.icon {
    font-size: 24px !important;
    color: #853a96; }
  .swipe-list .swiped-item-bcg .swiped-item-title {
    color: #9d9d9d;
    font-size: 12px !important; }
  .swipe-list .swiped-item-bcg h2.swiped-item-title {
    margin: 0; }
  .swipe-list .swiped-item-bcg a {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
  .swipe-list .swiped-item-bcg a:first-child {
    width: 70%; }

/*  #Fixed block
===========================================*/
.footer-bcg {
  background-color: #853a96 !important; }
  .footer-bcg .span-medium {
    color: #692c90;
    font-size: 22px;
    line-height: normal;
    padding: 5px 10px; }
  .footer-bcg.bar {
    padding: 0;
    display: block;
    height: auto;
    background-size: 100% 0; }
  .footer-bcg h2.footer-title {
    color: white;
    font-size: 20px !important;
    line-height: normal !important;
    margin-bottom: 0;
    padding: 5px 10px; }
  .footer-bcg .footer-subtitle {
    color: white;
    font-size: 14px !important;
    line-height: normal !important;
    clear: both; }
  .footer-bcg .footer-half {
    display: table-cell;
    vertical-align: bottom; }
  .footer-bcg .footer-content {
    position: relative;
    display: table;
    width: 100%;
    clear: both;
    padding: 5px 10px; }
    .footer-bcg .footer-content .footer-title {
      color: white;
      font-size: 20px !important;
      line-height: normal !important;
      margin-top: 10px;
      padding: 0; }
    .footer-bcg .footer-content .button-default {
      background-color: #853a96 !important;
      color: #fefefe !important;
      font-size: 14px;
      font-weight: normal;
      border-radius: 4px; }
