<!--Themes With 2 funcional icon -->
<ion-list ng-show="{{checkboxController.data.length}}">
    <ion-item class="item-bcg checkbox-block waves-effect waves-block waves-dark"
      ng-repeat="item in checkboxController.data">
        <input type="checkbox" class="filled-in" id="filled-in-box-{{$index}}"
        checked="checked" ng-click="checkboxController.onClick('onChange', item)" />
        <label for="filled-in-box-{{$index}}">
          <h2 class="item-title">{{item.title}}</h2></label>
        <button class="button-flat btn-flat right"
          ng-click="checkboxController.onClick('onButton', item)">
          <i class="icon-small icon"
            ng-class="{'icon-heart': item.favorite, 'icon-heart-outline': !item.favorite}">
          </i>
        </button>
    </ion-item>
</ion-list>
