/*  # Theme Account header
===========================================*/
.hero {
  padding: 25px 0;
  height: 201px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: #853a96; }
  .hero img {
    height: 104px;
    width: 104px;
    border-radius: 50%; }
  .hero h1.header-title {
    color: white;
    font-size: 22px;
    margin: 5px 0 0; }
  .hero h2.header-subtitle {
    color: white;
    font-size: 14px; }

/*  # Theme Account header Menu list
===========================================*/
.has-header-media {
  margin-top: 200px; }
  .has-header-media .item-icon-left {
    padding-left: 70px; }
  .has-header-media .item-bcg {
    background-color: #fefefe !important;
    border-color: #f4f5f5 !important;
    transition: all 0 ease-out; }
    .has-header-media .item-bcg h2.item-title {
      color: #9d9d9d;
      font-size: 14px;
      line-height: normal; }
    .has-header-media .item-bcg .icon-small {
      color: #692c90 !important;
      font-size: 18px !important;
      left: 30px; }
/*custom style-->*/

.hero img {
  height: 104px;
  width: 104px;
  border-radius: 10%;
}

