<!-- Left Menu Full width-->
<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu side="left">
        <ion-item class="container-hearder-image hero center">
            <i class="icon-large icon {{leftMenuController.data.icon}}"></i>
            <h1 class="header-title">{{leftMenuController.data.title}}</h1>
            <image ng-src="{{leftMenuController.data.image}}" />
        </ion-item>
        <!-- Menu List-->
        <ion-content class="menu-left-list">
            <ion-list>
                <a class="item item-bcg item-icon-left waves-effect waves-light waves-block" ng-repeat="item in leftMenuController.data.items" ng-click="leftMenuController.clickEvent(item.pagePath)">
                    <i class="icon-small icon {{item.icon}}"></i>
                    <h2 class="item-title">{{item.title}}</h2>
                </a>
            </ion-list>
        </ion-content>
    </ion-side-menu>

    <ion-side-menu-content class="left-menu-background">
        <ion-nav-bar class="bar-stable purple">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-back-button class="button-flat">
                <i class="ion-arrow-left-c"></i>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-flat ion-navicon" ng-click="leftMenuController.toggleLeft()" menu-toggle="left">
        </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <div ng-include="leftMenuController.templateUrl"></div>
    </ion-side-menu-content>
</ion-side-menus>
