// # Main Sass
@import "../../../../../scss/main-style.scss";
/* # Theme With filtering check boxes 2
===========================================*/
.search-bcg {
  margin: 50px 10px;

  .list {
    padding-top: 0;
    margin: 10px 0;
    overflow: hidden;
  }

  .title-block {
    border-bottom: $item-divider-small;
    overflow: hidden;
    margin: 0 2px;

    .icon-small {
      @include icon( 'icon-small');
      position: absolute;
      top: 15px;
      right: 5px;
    }
  }

  .search-bar-bcg {
    @include search( 'search-bar-bcg');
    border-color: transparent;
    padding: 0 !important;
    margin: 5px 0;
    border-radius: 4px;
    clear: both;

    input {
      @include search( 'input');
      padding-left: 10px;
      padding-right: 0;

      &[type="search"] {
        border-bottom: 1px solid transparent !important;
      }
    }

    .icon-small {
      @include icon( 'icon-small');
      width: 40px;
      text-align: center;
    }

    i.icon:first-child {
      border-right: 1px solid theme-colors('textColors', 'accent');
    }
  }

  h2.search-title {
    @include search( 'search-title');
    text-transform: uppercase;
    font-weight: normal;
    line-height: 30px;
    z-index: 99999;
    position: relative;
    margin-right: 20px;
    margin-top: 10px;
  }

  .hide-filter {
    display: none;
  }
}
