/* # Theme With filtering check boxes 2
===========================================*/
.search-bcg {
  margin: 50px 10px; }
  .search-bcg .list {
    padding-top: 0;
    margin: 10px 0;
    overflow: hidden; }
  .search-bcg .title-block {
    border-bottom: 1px solid #f4f5f5;
    overflow: hidden;
    margin: 0 2px; }
    .search-bcg .title-block .icon-small {
      color: #692c90 !important;
      font-size: 18px !important;
      position: absolute;
      top: 15px;
      right: 5px; }
  .search-bcg .search-bar-bcg {
    background-color: #853a96;
    border-color: transparent;
    padding: 0 !important;
    margin: 5px 0;
    border-radius: 4px;
    clear: both; }
    .search-bcg .search-bar-bcg input {
      font-size: 14px;
      color: white;
      border-bottom: 1px solid white !important;
      padding-left: 10px;
      padding-right: 0; }
      .search-bcg .search-bar-bcg input::-webkit-input-placeholder {
        font-size: 14px;
        color: white; }
      .search-bcg .search-bar-bcg input:focus:not([readonly]) {
        color: white;
        font-size: 14px;
        box-shadow: none; }
      .search-bcg .search-bar-bcg input[type="search"] {
        border-bottom: 1px solid transparent !important; }
    .search-bcg .search-bar-bcg .icon-small {
      color: #692c90 !important;
      font-size: 18px !important;
      width: 40px;
      text-align: center; }
    .search-bcg .search-bar-bcg i.icon:first-child {
      border-right: 1px solid white; }
  .search-bcg h2.search-title {
    color: #692c90;
    font-size: 18px !important;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 30px;
    z-index: 99999;
    position: relative;
    margin-right: 20px;
    margin-top: 10px; }
  .search-bcg .hide-filter {
    display: none; }
